<!-- screen -->
<div class="screen">
    <div class="screen__in screen__in_arrow">
        <!-- container -->
        <div class="container">
            <div class="container__logo">
                <i class="icon icon-logo"></i>
            </div>
            <div class="container__in">
                <!-- user -->
                <div class="user">
                    <div class="user__status"></div>
                    <div class="user__phone">+38097 897 74 74</div>
                    <div class="user__out">
                        <a href="#">Выйти</a>
                    </div>
                </div>

                <!-- title-border -->
                <div class="title-border title-border_mb15">Список приложений, которым<br>вы предоставили доступ к вашим кошелькам:</div>
                <!-- access -->
                <div class="access">
                    <div class="access__row">
                        <div class="access__cell">Кошелек "Best Wallet"</div>
                        <div class="access__cell"><a href="#">Отозвать доступ</a></div>
                    </div>
                    <div class="access__row">
                        <div class="access__cell">Счет.ру</div>
                        <div class="access__cell"><a href="#">Отозвать доступ</a></div>
                    </div>
                    <div class="access__row">
                        <div class="access__cell">Банк Воронеж</div>
                        <div class="access__cell"><a href="#">Отозвать доступ</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>