<!-- screen -->
<div class="screen">
    <div class="screen__in screen__in_arrow">
        <!-- container -->
        <div class="container">
            <div class="container__logo">
                <i class="icon icon-logo"></i>
            </div>
            <div class="container__in">
                <!-- title-border -->
                <div class="title-border title-border_small">Войдите в кошелек,<br>воспользовавшись вашим<br>логином и паролем</div>
                <!-- form -->
                <div class="form form_mb35">
                    <!-- field -->
                    <div class="field field_border-gray">
                        <div class="field__el">
                            <input class="input" type="text" value="+ 780 (95) 678-8954">
                        </div>
                    </div>
                    <!-- field -->
                    <div class="field field_border-gray field_password">
                        <div class="field__el">
                            <input class="input" type="password" placeholder="Пароль">
                            <i class="icon icon-eye "></i>
                        </div>
                    </div>
                </div>
                <!-- btn -->
                <button class="btn btn_orange-gradient btn_w410" ui-sref="permissions-request">Войти в кошелек</button>
                <!-- link-center -->
                <div class="link-center">
                    <a ui-sref="signin">Нет кошелька</a>
                </div>
            </div>
        </div>
    </div>
</div>