<!-- screen -->
<div class="screen">
    <div class="screen__in screen__in_arrow">
        <!-- container -->
        <div class="container">
            <div class="container__logo">
                <i class="icon icon-logo"></i>
            </div>
            <div class="container__in">
                <!-- text -->
                <div class="text text_mt40">Денежный перевод пользователю</div>
                <!-- ava-border -->
                <div class="ava-border">
                    <div class="ava-border__in">
                        <div class="ava-border__pic">
                            <img src="img/ava-border.jpg" alt="">
                        </div>
                        <i class="icon icon-hexagon"></i>
                    </div>
                </div>
                <!-- title-border -->
                <div class="title-border title-border_small">Ингеборга Дапкунайте</div>
                <!-- form -->
                <div class="form">
                    <!-- field -->
                    <div class="field field_border-gray field_rub">
                        <div class="field__el">
                            <input class="input" type="text" value="5000">
                            <i class="icon icon-rub"></i>
                        </div>
                    </div>
                </div>
                <!-- text -->
                <div class="text text_small">Комиссия 75 руб.</div>
                <div class="text">Платежная карта</div>
                <!-- paycard -->
                <div class="paycard">
                    <!-- field -->
                    <div class="field field_w440 field_border-gray">
                        <div class="field__el">
                            <input class="input" type="text" value="5000">
                        </div>
                    </div>
                    <!-- field -->
                    <div class="field field_w85 field_border-gray">
                        <div class="field__el">
                            <input class="input" type="text" placeholder="мм">
                        </div>
                    </div>
                    <!-- field -->
                    <div class="field field_w85 field_border-gray">
                        <div class="field__el">
                            <input class="input" type="text" placeholder="гг">
                        </div>
                    </div>
                    <!-- field -->
                    <div class="field field_w120 field_border-gray">
                        <div class="field__el">
                            <input class="input" type="text" placeholder="CVV">
                        </div>
                    </div>
                    <img src="http://placehold.it/70x40" alt="">
                    <!-- field -->
                    <div class="field field_w440 field_border-gray">
                        <div class="field__el">
                            <input class="input" type="text" placeholder="имя держателя карты">
                        </div>
                    </div>
                </div>
                <!-- paysys -->
                <div class="paysys paysys_right">
                    <a href="#"><img src="http://placehold.it/70x40" alt=""/></a>
                    <a href="#"><img src="http://placehold.it/70x40" alt=""/></a>
                    <a href="#"><img src="http://placehold.it/70x40" alt=""/></a>
                    <a href="#"><img src="http://placehold.it/70x40" alt=""/></a>
                    <a href="#"><img src="http://placehold.it/70x40" alt=""/></a>
                </div>
                <!-- btn -->
                <button class="btn btn_red-gradient btn_w410">Отправить</button>
                <!-- link-center -->
                <div class="link-center">
                    <a href="#">Служба поддержки</a>
                </div>
            </div>
        </div>
    </div>
</div>