
<!-- screen -->
<div class="screen">
    <div class="screen__in screen__in_arrow">
        <!-- container -->
        <div class="container">
            <div class="container__logo">
                <i class="icon icon-logo"></i>
            </div>
            <div class="container__in">
                <!-- user -->
                <div class="user">
                    <div class="user__status"></div>
                    <div class="user__phone">+38097 897 74 74</div>
                    <div class="user__out">
                        <a href="#">Выйти</a>
                    </div>
                </div>
                <!-- title-border -->
                <div class="title-border title-border_mb15">Best Wallet запрашивает разрешение на</div>
                <!-- accord -->
                <div class="accord">
                    <div class="accord__item">
                        <div class="accord__title">Просмотр кошелька<i class="icon icon-arrow-down"></i></div>
                        <div class="accord__content">Приложение сможет получать информацию о состоянии вашего баланса, аватарку и настройки кошелька.</div>
                    </div>
                    <div class="accord__item is-active">
                        <div class="accord__title">Просмотр кошелька<i class="icon icon-arrow-down"></i></div>
                        <div class="accord__content">Приложение сможет получать информацию о состоянии вашего баланса, аватарку и <b>не</b> настройки кошелька.</div>
                    </div>
                    <div class="accord__item">
                        <div class="accord__title">Просмотр кошелька<i class="icon icon-arrow-down"></i></div>
                        <div class="accord__content">Приложение сможет получать информацию о состоянии вашего баланса, аватарку и настройки кошелька.</div>
                    </div>
                    <div class="accord__item">
                        <div class="accord__title">Просмотр кошелька<i class="icon icon-arrow-down"></i></div>
                        <div class="accord__content">Приложение сможет получать информацию о состоянии вашего баланса, аватарку и настройки кошелька.</div>
                    </div>
                    <div class="accord__item">
                        <div class="accord__title">Просмотр кошелька<i class="icon icon-arrow-down"></i></div>
                        <div class="accord__content">Приложение сможет получать информацию о состоянии вашего баланса, аватарку и настройки кошелька.</div>
                    </div>
                    <div class="accord__item">
                        <div class="accord__title">Просмотр кошелька<i class="icon icon-arrow-down"></i></div>
                        <div class="accord__content">Приложение сможет получать информацию о состоянии вашего баланса, аватарку и настройки кошелька.</div>
                    </div>
                    <div class="accord__item">
                        <div class="accord__title">Просмотр кошелька<i class="icon icon-arrow-down"></i></div>
                        <div class="accord__content">Приложение сможет получать информацию о состоянии вашего баланса, аватарку и настройки кошелька.</div>
                    </div>
                    <div class="accord__item">
                        <div class="accord__title">Просмотр кошелька<i class="icon icon-arrow-down"></i></div>
                        <div class="accord__content">Приложение сможет получать информацию о состоянии вашего баланса, аватарку и настройки кошелька.</div>
                    </div>
                </div>
                <div class="container__footer">
                    <ul class="container__btns">
                        <li><button class="btn btn_red-gradient">Отмена</button></li>
                        <li><button class="btn btn_orange-gradient">Подтвердить</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>