<!-- screen -->
<div class="screen">
    <div class="screen__in screen__in_arrow">
        <!-- container -->
        <div class="container">
            <div class="container__logo">
                <i class="icon icon-logo"></i>
            </div>
            <div class="container__in">
                <!-- text -->
                <div class="text">Приветствуем!</div>
                <div class="text text_mb0">Вам прислали</div>
                <!-- money -->
                <div class="money">77903<i class="icon icon-rub"></i></div>
                <!-- title-border -->
                <div class="title-border title-border_small">С помощью кошелька Best Wallet</div>
                <!-- text -->
                <div class="text">Используйте один из 4-х способов,<br>чтобы получить перевод</div>
                <!-- paytransfer -->
                <div class="paytransfer">
                    <button><i class="icon icon-logo-simple"></i></button>
                    <button><i class="icon icon-phone"></i></button>
                    <button><i class="icon icon-card-simple"></i></button>
                    <button><i class="icon icon-money"></i></button>
                </div>
                <!-- text -->
                <div class="text text_big">Пополнить кошелек Best Wallet</div>
                <!-- btn -->
                <button class="btn btn_orange-gradient btn_w410 btn_mb35">Войти в кошелек</button>
                <button class="btn btn_red-gradient btn_w410 btn_mb45">Создать кошелек</button>
                <!-- br -->
                <div class="br"></div>
                <!-- text -->
                <div class="text text_big">Пополнить телефон на сумму перевода</div>
                <!-- ava-border -->
                <div class="ava-border">
                    <div class="ava-border__in">
                        <div class="ava-border__pic">
                            <span>?</span>
                        </div>
                        <i class="icon icon-hexagon"></i>
                    </div>
                </div>
                <!-- form -->
                <div class="form form_mb35">
                    <!-- field -->
                    <div class="field field_border-gray">
                        <div class="field__el">
                            <input class="input" type="text" value="+ 780 (95) 678-8954">
                        </div>
                    </div>
                </div>
                <!-- btn -->
                <button class="btn btn_red-gradient btn_w410 btn_mb45">Пополнить</button>
                <!-- br -->
                <div class="br"></div>
                <!-- text -->
                <div class="text text_big">Пополнить на сумму перевода<br>любую карту Visa или MasterCard</div>
                <!-- form -->
                <div class="form form_mb35">
                    <!-- field -->
                    <div class="field field_border-gray">
                        <div class="field__el">
                            <input class="input" type="text" placeholder="номер карты">
                        </div>
                    </div>
                </div>
                <!-- btn -->
                <button class="btn btn_red-gradient btn_w410 btn_mb45">Пополнить</button>
                <!-- br -->
                <div class="br"></div>
                <!-- text -->
                <div class="text text_big">Получить перевод наличными<br>в более чем 49 000 точек обслуживания<br>платежнойсистемы БЭСТ </div>
                <div class="text">Для перевода вам необходимо иметь с собой паспорт</div>
                <div class="container__footer">
                    <!-- btn -->
                    <button class="btn btn_red-gradient btn_arrow btn_no-border">Показать карту<i class="icon icon-arrow-down"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>