
<!-- screen -->
<div class="screen">
    <div class="screen__in screen__in_arrow">
        <!-- container -->
        <div class="container">
            <div class="container__logo">
                <i class="icon icon-logo"></i>
            </div>
            <div class="container__in">
                <!-- text -->
                <div class="text text_big">Готово!</div>
                <div class="text text_small text_mb0">Сумма</div>
                <!-- money -->
                <div class="money">77903<i class="icon icon-rub"></i></div>
                <!-- title-border -->
                <div class="title-border title-border_small">Зачислена на банковскую карту<br>**** **** **** 7895</div>
                <!-- text -->
                <div class="text text_small text_mb10">Номер чека 7894003880020993</div>
                <div class="text text_small text_mb50">Статус перевода<i class="icon icon-checkbox"></i></div>
                <!-- btn -->
                <button class="btn btn_red-gradient btn_w410">Готово</button>
                <!-- link-center -->
                <div class="link-center">
                    <a href="#">Служба поддержки</a>
                </div>
            </div>
        </div>
    </div>
</div>